/*selector {
    Propert: value;
    }*/


body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: orangered;

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: round(3, 3, 3);
    cursor: pointer;
}

button:hover {
background-color: orangered;
}
